.widgets{
    flex: 0.32;
    overflow-y: scroll;
    max-width: 350px;
    scrollbar-width: none;
}
.widgets_input > input {
    border: none;
    height: 40px;
    width: 400px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--twitter-background);
  }
  .widgets_input{
    display: flex;
    align-items: center;
    background-color: var(background-color);
    padding: 7px;
    margin-top: 10px;
    margin-left: 20px;
}
.widgets_searchIcon {
    height: 42px !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color:var(--twitter-background);
  }

  .widgets_container{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
  }

  
.widgets__widgetContainer > h3 {
  font-size: 18px;
  font-weight: 800;
}